<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey Charly, nos ha contactado un: <b> <%= @wazzup.who %> </b></p>
    <p>
      Su email es este: <%= @wazzup.email %>.<br/>
    </p>
    <p>
      Y nos comenta lo siguiente:
       <b><%= @wazzup.body %></b>
    </p>

  </body>
</html>