/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .


  *= require bootstrap_and_overrides
*/






.navbar .brand {

display:block;
}

.masthead {
  
  height: 30px;
  margin-bottom: auto;
}

 body { 
	 background-image:url('background.jpg');
	 background-repeat:repeat;
}



.nav > li > a:hover {
	background-color: #92b1cd;
	opacity:0.5;
}

.pagination-centered {

	margin-top: 20px;
  text-align: center;
}

.center-logo {
	margin-top: -18px;

}

.container{
	
	margin-top: 10px;
}




